<div class="component-adblock">
	<div class="adblock">
		<img src="http://placehold.it/320x320">
	</div>
	<div class="social">
		<a href="">
			<div class="facebook">
				<span>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eveniet, deserunt quas!
				</span>
			</div>
		</a>
		<a href="">
			<div class="twitter">
				<span>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eveniet, deserunt quas!
				</span>
			</div>
		</a>
	</div>
</div>
