<div class="component-follow">
	<ul>
		<label for="menu-button" class="menu-button"></label>
		<input type="checkbox" id="menu-button">
		<li class="menu-item"><a href="#menu"><i class="fa fa-facebook"></i></a></li>
		<li class="menu-item"><a href="#menu"><i class="fa fa-twitter"></i></a></li>
		<li class="menu-item"><a href="#menu"><i class="fa fa-calendar"></i></a></li>
		<li class="menu-item"><a href="#menu"><i class="fa fa-envelope-o"></i></a></li>
	</ul>
</div>
