<div class="component-insider">
	<div class="row marginless">
		<div class="half">
			<img src="../images/INsider-Logo.png" alt="">
			<span>
				JOIN NOW TO GET EXCLUSIVE DEALS.<br>EVENT INFO &AMP; TREND REPORTS
			</span>
		</div>
		<div class="half">
			<span>
				BECOME A<br><a href="">{{ site.mall-name }} INSIDER</a><br>AND YOU'LL BE ENTERED<br>TO WIN $500!
				<a href="" class="cta">Join Now</a>
			</span>
		</div>
	</div>
</div>
