<div class="component-insider">
	<div class="insider">
		<svg height="148" width="133" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="64 127 484 537.7" enable-background="new 64 127 484 537.7" xml:space="preserve">
		<path class="insider-logo" d="M64,663.8v-64.8h14.3v64.8H64z"/>
		<path class="insider-logo" d="M162.9,663.8l-31.4-41.3v41.3h-13.9v-64.8h13.1l30.6,40.1v-40.1h13.9v64.8H162.9z"/>
		<path class="insider-logo" d="M236.1,628.1c15.1,3.2,21.9,8.3,21.9,18.3c0,11.1-9.5,18.3-23,18.3c-10.7,0-19.5-3.6-27.4-10.3l4.8-5.6
		c7.2,6,13.9,9.1,23,9.1s15.1-4.4,15.1-11.1c0-6-3.2-9.5-17.5-12.3c-15.5-3.2-22.7-7.9-22.7-18.7c0-10.3,9.1-17.9,21.9-17.9
		c9.9,0,16.7,2.8,23.4,7.9l-4.4,5.6c-6.4-4.8-12.3-7.2-19.5-7.2c-8.7,0-14.3,4.8-14.3,10.7C217.8,621.3,221.4,624.9,236.1,628.1z"/>
		<path class="insider-logo" d="M297.7,599.1v64.8h-7.2v-64.8H297.7z"/>
		<path class="insider-logo" d="M353.3,663.8h-22.7v-64.8h22.7c20.3,0,34.6,13.9,34.6,32.2C387.9,649.9,374,663.8,353.3,663.8z M353.3,605.8
		h-15.1v51.3h15.1c16.3,0,27-11.1,27-25.4C380.3,617,370,605.8,353.3,605.8z"/>
		<path class="insider-logo" d="M465.8,605.8H426v22.3h35.4v6.8H426v22.7h40.1v6.8h-47.3v-64.8h46.9V605.8z"/>
		<path class="insider-logo" d="M538.9,663.8l-18.7-25h-18.7v25h-7.2v-64.8h27.8c14.3,0,23.4,7.6,23.4,19.5c0,10.7-7.6,17.1-17.5,19.1
		l19.9,26.6h-9.1V663.8z M521.4,605.8h-19.9v26.2h19.9c9.5,0,16.7-5.2,16.7-13.5C538.1,610.6,532.1,605.8,521.4,605.8z"/>
		<path class="insider-logo" d="M174.9,403.2V231.1h37.8v172.1H174.9z"/>
		<path class="insider-logo" d="M404.6,403.2l-83.5-109.3v109.3h-37.4V231.1h35l80.7,106.1V231.1h37.4v172.1H404.6z"/>
		<path class="insider-logo" d="M64.8,127v373.2h126.8c63.2,0,89.4,54,90.6,60.4h22.3c0.4-4.4,27.8-60.4,87.8-60.4h154.6V127H64.8z
		M524.6,477.9H390.2c-52.9,0-85.4,30.6-97.4,50.9c-12.7-20.3-50.9-50.9-95-50.9l0,0c-4.4-0.8-111.3-0.4-111.3-0.4V149.6h437.9V477.9
		z"/>
	</svg>

	<span>
		JOIN NOW TO GET EXCLUSIVE DEALS.<br>EVENT INFO &AMP; TREND REPORTS
	</span>
</div>
<div class="insider">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 13 35" enable-background="new 0 0 13 35" xml:space="preserve" class="pinch">
	<g>
		<defs>
			<rect id="SVGID_1_" y="0" width="13" height="35"/>
		</defs>
		<clipPath id="SVGID_2_">
			<use xlink:href="#SVGID_1_"  overflow="visible"/>
		</clipPath>
		<path class="pinch-color" clip-path="url(#SVGID_2_)" d="M0,35c2-16.5,13-17.7,13-17.7S2,16.4,0,0V35z"/>
	</g>
</svg>

<span>
	BECOME A<br><a href="">{{ site.mall-name }} INSIDER</a><br>AND YOU'LL BE ENTERED<br>TO WIN $500!
	<a href="" class="btn button-primary">Join Now</a>
</span>
</div>
</div>
