<div class="mrec">
	<div class="row">
		<div class="third dining">
			<a href="">
				<figure>
					<img src="http://placehold.it/320x320">
					<figcaption>
						<img src="../images/dining-icon.png" alt="">
						<span>Dining</span>
					</figcaption>
				</figure>
			</a>

		</div>
		<div class="third sales">
			<a href="">
				<figure>
					<img src="http://placehold.it/320x320">
					<figcaption>
						<img src="../images/sales-icon.png" alt="">
						<span>Sales</span>
					</figcaption>
				</figure>
			</a>
		</div>
		<div class="third movies">
			<a href="">
				<figure>
					<img src="http://placehold.it/320x320">
					<figcaption>
						<img src="../images/movies-icon.png" alt="">
						<span>Movies</span>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>
</div>
