.banner {
	position: relative;
	min-height: 250px;
	background-color: $header-bg;
	color: $color-white;
	text-transform: uppercase;
	@include box-shadow(inset 0 -40px 80px -40px rgba($color-brand-secondary, .2));

	img {
		margin: 0 auto;
	}

	.content {
		background-color: transparent;
	}

	@include bp(bp-small) {
		height: auto;
	}

	h1 {
		@include font-size(70);
		color: $color-white;

		& + p {
			@include margin;
		}

		@include bp(bp-small) {
			@include font-size(55);
		}
	}

	a:hover {
		text-decoration: none;
	}

	.content {
		@include bp(bp-medium) {
			top: 0;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}
	}

	.resume {
		&:hover {
			color: $color-primary-red;
			text-decoration: none;
		}
	}

	hr {
		border-top: 1px solid $base-font-color;
		border-bottom: 0;
	}

	@include bp(bp-small) {
		min-height: 0;
	}
}

