@charset "UTF-8";

footer {
	background-color: $footer-bg;
	color: $footer-text;
	text-align: center;

	.content {
		@include padding;
	}

	.container {
		position: relative;

		&:before {
			position: absolute;
			content: url(../../images/footer-flower-left.png);
			bottom: -1em;
			left: 0;
		}

		&:after {
			position: absolute;
			content: url(../../images/footer-flower-right.png);
			right: -8em;
			bottom: -1em;
		}
	}

	ul {
		@include horizontal-list;
		margin: $base-spacing auto;

		li {
			margin-right: $base-spacing *2;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	a {
		color: $footer-link-color;

		&:hover {
			color: $footer-link-color-hover;
		}
	}
}
