@charset "UTF-8";

footer {
	@include padding($base-spacing);
	background-color: $footer-bg;
	color: $footer-text;
	text-align: center;

	.content {
		@include padding(0);
	}

	ul {
		@include horizontal-list;
		margin: $base-spacing auto;

		li {
			margin-right: $base-spacing *2;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	a {
		color: $footer-link-color;

		&:hover {
			color: $footer-link-color-hover;
		}
	}
}
