@charset "UTF-8";

header[role=banner] {
	position: relative;
	@include padding($base-spacing $base-spacing 0);
	background-color: $header-bg;
	text-align: center;
	z-index: 9;

	@include media($mobile) {
		@include padding($base-spacing);
		text-align: left;
	}
}
