<div class="hero-banner">
	<ul id="hero-carousel">
		<li>
			<img src="../images/Stocksy_txpc41b0543D0N000_Large_210286.jpg" alt='<a href=""><h2>Explore</h2><span>This seasons hottest looks</span></a>'>
		</li>
		<li>
			<img src="../images/Stocksy_txpc41b0543D0N000_Large_210286.jpg" alt='<a href=""><h2>Explore</h2><span>This seasons hottest looks</span></a>'>
		</li>
	</ul>
</div>
