<div class="banner">
	<ul id="slippry-demo">
		<li>
			<img src="../images/102.jpg" alt='<a href=""><h2>Explore</h2><span>This seasons hottest looks</span></a>'>
		</li>
		<li>
			<img src="../images/103.jpg" alt='<a href=""><h2>Explore</h2><span>This seasons hottest looks</span></a>'>
		</li>
		<li>
			<img src="../images/104.jpg" alt='<a href=""><h2>Explore</h2><span>This seasons hottest looks</span></a>'>
		</li>
		<li>
			<img src="../images/105.jpg" alt='<a href=""><h2>Explore</h2><span>This seasons hottest looks</span></a>'>
		</li>
	</ul>
</div>
