 	  <!-- Footer Component -->
    <footer role="contentinfo">
    	<div class="content">
    		<div class="container">

    			<ul>
    				<li><a href="">Contact Us</a></li>
    				<li><a href="">Sponsors</a></li>
    				<li><a href="">Leasing</a></li>
    				<li><a href="">Press Releases</a></li>
    				<li><a href="">Privacy Policy</a></li>
    				<li><a href="">Terms of Use</a></li>
    			</ul>

    			<ul>
    				<li>
    					<a href="">Mall Name</a>
    				</li>
    				<li>
    					<a href="">Mall Address</a>
    				</li>
    				<li>
    					<a href="">Mall Phone Number</a>
    				</li>
    			</ul>

    			<ul>
    				<li>
    					<span>Copyright <span id="year" class="getYear">year</span> ForestCity Enterprises</span>
    				</li>
    			</ul>

    			<a class="disclaimer-text" href="/disclaimer">Disclaimer</a>

    		</div>
    	</div>
    </footer>
    <!-- ./Footer Component -->
