<a href="#" class="open-panel"><span></span></a>

<nav role="navigation">
	<div class="container">
		<ul class="navigation menu">
			{{#each nav}}
			<li>
				<a href="{{url}}">{{name}}</a>
			</li>
			{{/each}}
			<li>
				<a href="">
					<i class="fa fa-search"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
