// =Footer
$footer-bg: $color-light-grey;
$footer-font-size: $disclaimer-text;
$footer-link-font-weight: 700;
$footer-text: $color-brand-secondary;
$footer-link-color: $color-brand-secondary;
$footer-link-color-hover: $base-link-color;
