// =Social Media
$twitter-link-color: #00aced;
$twitter-link-color-hover: $twitter-link-color;
$facebook-link-color: #3b5998;
$facebook-link-color-hover: $facebook-link-color;
$youtube-link-color: #db1117;
$youtube-link-color-hover: $youtube-link-color;
$pinterest-link-color: #cb2027;
$pinterest-link-color-hover: $pinterest-link-color;
$instagram-link-color: #517fa4;
$instagram-link-color-hover: $instagram-link-color;
$github-link-color: #4183c4;
$github-link-color-hover: $github-link-color;
$codepen-link-color: $color-white;
$codepen-link-color-hover: $codepen-link-color;
$dribbble-link-color: #ea4c89;
$dribbble-link-color-hover: $dribbble-link-color;
$linkedin-link-color: #007bb6;
$linkedin-link-color-hover: $linkedin-link-color;
