// =Typography Basics
$base-font-reset: 10px !default;
$base-font-size: 16 !default;
$base-line-height: 1.443;
$lede-font-size: $base-font-size * 1.125;
$body-text: $base-font-size;
$small-body-text: $base-font-size * .875;
$disclaimer-text: $small-body-text;
$legal-text: $small-body-text;

// =Modular Scale
$modular-scale-ratio: 1.61803398875;

// =Font Families List
$font-faces: (
  'trendsansone': ('trendsansone-webfont', 400),
  'proximanova-regular': ('proximanova-regular-webfont', 400),
  'proximanova-semibold': ('proximanova-semibold-webfont', 400),
  'proximanova-bold': ('proximanova-bold-webfont', 400),
  'fontawesome': ('icons/fontawesome-webfont', normal)
);
$font-path: '../fonts/';

// =Font Families
$base-font-family: 'proximanova-regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-family-alt: 'proximanova-semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontawesome: 'FontAwesome';
$pre: Inconsolata,Monaco,Consolas,'Andale Mono','Bitstream Vera Sans Mono','Courier New',Courier,monospace;

// =Inline Text Elements
$em-color: $base-font-color;
$mark-bg: $info-color;
$mark-color: $base-font-color !default;
