@charset "UTF-8";

.pagination {
  ol {
    @include margin(0);
    @include padding(0);
  }

  li {
    display: inline;
    position: relative;

    a {
      border: 0;
    }

    &.js-last {
      margin-right: 0;
    }
  }

  @include media($mobile) {
    @include inline-block();
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
