.component-adblock {
	@include outer-container;
	margin-bottom: 0;

	.adblock {
		@include span-columns(4);

		@include media($mobile) {
      @include span-columns(4);
      margin-bottom: $base-spacing;
    }

    img {
    	@include media($mobile) {
				margin: 0 auto;
    	}
    }
	}

	.social {
		@include span-columns(8);
		position: relative;

		@include media($mobile) {
      @include span-columns(4);
    }

    div {
    	@include padding($base-spacing $base-spacing $base-spacing ($base-spacing * 4));
			height: calc((320px - .5em) / 2);

    	&:before {
				@include font-family($fontawesome);
				@include font-size(36);
				position: absolute;
				left: .5em;
				line-height: 1;
			}
    }

		.facebook {
			margin-bottom: 1rem;

			&:before {
				content: '\f082';
				color: $facebook-link-color;
			}
		}

		.twitter {
			&:before {
				content: '\f081';
				color: $twitter-link-color;
			}
		}
	}
}
