@charset "UTF-8";

.component-insider {
	position: relative;
	display: flex;
	color: $color-white;
	@include font-family($heading-font-family);
	text-align: center;

	div {
		min-height: 325px;

		&.half {
			position: relative;
			@include padding(3em);

			&:first-of-type {
				background-color: $color-brand-quinary;

				&:after {
					position: absolute;
					content: url(../../images/insider-arrow.png);
					right: -13px;
					bottom: 3em;
					z-index: 9;

					@include bp(bp-small) {
						@include horizontal-center;
						content: url(../../images/insider-arrow-down.png);
						bottom: -21px;
					}
				}
			}
			&:last-of-type {
				background-color: $color-brand-quaternary;

				span {
					@include font-size(22);
				}
			}
		}

		img {
			margin: 0 auto ($base-spacing * 2);
		}

		.cta {
			display: block;
			max-width: 175px;
			margin: 4em auto 0;
		}
	}
}
