.mrec {
	figure {
		max-width: 320px;
		margin: 0 auto;

		figcaption {
			@include margin;
			@include padding($base-spacing);
			position: absolute;
			bottom: 0;
			width: 100%;
			background: rgba($color-brand-quaternary, .9);

			span {
				@include inline-block;
				@include vertical-align;
				@include font-family($heading-font-family);
				@include font-size(22);
				padding-top: .25em;
				border-top: 2px solid $color-brand-primary;
				color: $color-white;
			}

			img {
				@include inline-block;
				margin-right: $base-spacing;
				vertical-align: center;
			}
		}

		&:hover {
			figcaption {
				background: rgba($color-brand-primary, .9);

				span {
					border-top: 2px solid $color-brand-quaternary;
				}
			}
		}
	}
}
