{{> head }}
<div class="outer-wrapper">
	<div class="inner-wrapper">
		{{> header }}
		{{> nav }}
		{{> banner }}

		{{> body }}

		{{> footer }}

		{{> follow }}
	</div>
</div>
<div class="blur-overlay"></div>
{{> foot }}
