{{> head }}
<div class="outer-wrapper">
	<div class="inner-wrapper">
		{{> header }}
		{{> nav }}
		{{> banner }}

		{{> body }}

		{{> footer }}
	</div>
</div>
{{> foot }}
{{!-- {{> head }}
<div class="outer-wrapper">
  <div class="inner-wrapper">
  {{> banner }}
  {{> nav }}

		<div class="reveal-wrapper">
			{{> body }}
			{{> footer }}
		</div>
  </div>
</div>
{{> contact }}
{{#if modals}}
<div class="modal-overlay"></div>
{{/if}}
{{> foot }} --}}

